PORT=5000
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/vaultx?retryWrites=true&w=majority
JWT_SECRET=your-super-secret-jwt-key-here
TRON_PRIVATE_KEY=your_tron_private_key
TRON_ADDRESS=TQn9Y2khEsLMWD5uP5sVxnzeLcEwQQhAvh
TRON_GRID_API_KEY=your_trongrid_api_key
NODE_ENV=production